@import "tailwindcss";

:root {
  --background: #0D0D0D;
  --primary-color: #F28E13;
  --secondary-color: #F2790F;
  --terciary-color: #BF4904;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-terciary: var(--terciary-color);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

* {
  outline: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: #FFFFFF;
  font-family: Arial, Helvetica, sans-serif;
}
